.RecipeCard {
  height: 10vh;
  width: 20vw;
  background-color: lavender;
}

.RecipeCard .text-container {
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  color: #fff; /* Text color */
  padding: 10px; /* Add padding for spacing */
}

.text-container h3 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}