
.NewRecipeStep1 form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 50%;
  gap: 1rem;
  text-align: left;
  margin-top: 5vh;
}

.NewRecipeStep1 input,
.NewRecipeStep1 select{
  padding: .3rem .3rem;
  border: 1px solid var(--text-tertiary);
  border-radius: 100px;
  margin-right: .5rem;
}

.NewRecipeStep1 button{
  padding: .3rem 1rem;
  border: none;
  border-radius: 100px;
  background-color: var(--blue);
  color: var(--text-primary)
}

.NewRecipeStep1 button:hover{
  color: white;
  background-color: var(--tertiary);
}

