.NavBar {
  position: sticky;
  top: 0;
  background-color: var(--primary);
}


.NavBar .navbar-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.NavBar .navbar-container h1{
  font-family: Lacquer;
  margin-right: auto;
} 

.logo {
  font-family: Lacquer;
}

.NavBar h3 {
  text-align: left;
  color: var(--text-secondary)
}

.NavBar a:link,
.NavBar a:visited {
  text-decoration: none;
  color: var(--text-secondary);
  margin: 0 1rem;
}

.NavBar a:hover {
  text-decoration: underline;
  color: var(--secondary);
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 3px 0;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .navbar-links {
      display: none;
      flex-direction: column;
  }

  .navbar-links.active {
      display: flex;
  }

  .hamburger {
      display: flex;
  }
}