.CategoriesDetailPage .recipes-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.CategoriesDetailPage h1 {
  text-align: left;
}

@media (max-width: 768px) {
  .CategoriesDetailPage .recipes-container{
    display: flex;
    flex-direction: column;
  }
} 